<table class="table table-striped">
    <thead>
        <tr>
            <td>
                Id
            </td>
            <td>
                Name
            </td>
            <td>
                Action
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let app of jiraApplications">
            <td>
                {{app.id}}
            </td>
            <td>
                {{app.name}}
            </td>
            <td>
                <a [routerLink]="['/report', app.id]" class="btn btn-sm btn-success">Report</a>
            </td>
        </tr>
    </tbody>
</table>
