<ul class="nav navbar-nav navbar-right">
    <!-- Authentication Links -->
    <li *ngIf="account">
        <a href="http://auth.ikantam.com/profile" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            {{ account.name }}
        </a>
    </li>
</ul>