<div class="route-loader" [class.loading]="loading">
    <div id="tout">
        <div>
            <div>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>