<table class="table table-striped">
    <thead>
    <tr>
        <td>
            Name
        </td>
        <td>
            Email
        </td>
        <td>
            Action
        </td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of jiraUsers">
        <td>
            <img width="16px" src="{{user.avatarUrls['16x16']}}"/>
            {{user.displayName}}
        </td>
        <td>
            {{user.emailAddress}}
        </td>
        <td>
            <a>Select</a>
        </td>
    </tr>
    </tbody>
</table>
