<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">

            <!-- Branding Image -->
            <a [routerLink]="['/']" class="navbar-brand" role="button">
                Jira Ikantam
            </a>
        </div>

        <div class="collapse navbar-collapse" id="app-navbar-collapse">
            <ul class="nav navbar-nav"><li><a [routerLink]="['/']" role="button">Jira Applications</a></li></ul>
            <application-account></application-account>
        </div>
    </div>
</nav>
<div class="container">
    <route-loader></route-loader>
    <router-outlet></router-outlet>
</div>