<div class="row">
    <h3 class="display-3">Jira Applications <a [routerLink]="['/add-jira-application']" class="btn btn-sm btn-success disabled">Add Jira Application</a></h3>
</div>
<div class="row">
    <applications-list *ngIf="!loading" [jiraApplications]="jiraApplications"></applications-list>
</div>
<div *ngIf="loading" class="loading">
    Loading
</div>