<div class="route-loader" [class.loading]="loading">
    <div id="tout">
        <div>
            <div>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h3 class="display-3">
        <a [routerLink]="['/']" class="btn btn-sm btn-success">
            <span class="glyphicon glyphicon-chevron-left"></span>
            Back to jira applications
        </a>
        Report parameters
    </h3>
</div>
<div *ngIf="!selectedUser" class="row">
    <table class="table table-striped">
        <thead>
        <tr>
            <td>
                Name
            </td>
            <td>
                Email
            </td>
            <td>
                Action
            </td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of jiraUsers">
            <td>
                <img width="16px" src="{{user.avatarUrls['16x16']}}"/>
                {{user.displayName}}
            </td>
            <td>
                {{user.emailAddress}}
            </td>
            <td>
                <a class="btn btn-sm btn-success" (click)="selectUserForReport(user)">Select</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div *ngIf="selectedUser" class="row">
    <hr>
    <div class="col-sm-3">
        <div class="span8">
            <h4>
                <img width="48px" src="{{selectedUser.avatarUrls['48x48']}}" class="img-circle">
                {{selectedUser.displayName}}
            </h4>
            <h6>Email: {{selectedUser.emailAddress}}</h6>
            <h6>Timezone: {{selectedUser.timeZone}}</h6>
        </div>

        <div class="span2">
            <div class="btn-group">
                <a class="btn btn-sm btn-danger" (click)="unselectUserForReport(user)">Select another user</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <h4>Date From: {{dateFrom | date: 'dd MMMM yyyy'}}</h4>
        <datepicker [(ngModel)]="dateFrom" [showWeeks]="false"></datepicker>
    </div>
    <div class="col-sm-3">
        <h4>Date To: {{dateTo | date: 'dd MMMM yyyy'}}</h4>
        <datepicker [(ngModel)]="dateTo" [showWeeks]="false" ></datepicker>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <h4>Status: </h4>
            <select class="form-control" (change)="selectStatus($event.target.value)">
                <option value="">All</option>
                <option value="to do">To do</option>
                <option value="in progress">In progress
                <option value="done">Done</option>
            </select>
        </div>
        <div class="form-group">
            <a [class]="(selectedUser && dateFrom && dateTo) ? 'btn btn-sm btn-success' : 'btn btn-sm btn-success disabled'"
            (click)="getReport()">
                Get report
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div *ngIf="reports.length" class="col-sm-12">
        <h3>Report: </h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <td>
                    Key
                </td>
                <td>
                    Summary
                </td>
                <td>
                    Assignee
                </td>
                <td>
                    Status
                </td>
                <td>
                    Created
                </td>
                <td>
                    Updated
                </td>
                <td>
                    Resolved
                </td>
                <td>
                    Estimated time
                </td>
                <td>
                    Time spent
                </td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let report of reports">
                <td>
                    {{report.key}}
                </td>
                <td>
                    {{report.summary}}
                </td>
                <td>
                    {{report.assignee['emailAddress']}}
                </td>
                <td>
                    {{report.status['name']}}
                </td>
                <td>
                    {{report.created_at | date: 'dd MMMM yyyy'}}
                </td>
                <td>
                    {{report.updated_at | date: 'dd MMMM yyyy'}}
                </td>
                <td>
                    {{report.resolved | date: 'dd MMMM yyyy'}}
                </td>
                <td>
                    {{report.estimated_time}} h
                </td>
                <td>
                    {{report.time_spent}} h
                </td>
            </tr>
            <tr>
                <td colspan="9" class="text-right">
                    <b>Total estimated:</b> {{totals['total_estimated']}} h<br>
                    <b>Total spent:</b> {{totals['total_spent']}} h
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>